/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

.book-topbar {
  background-color: gray;
  margin: 0;
  padding: 0;
}

.book-title {
  /* background-color: gray; */
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  margin: 1% 0 0 0;
  padding: 0.5% 0.5% 0.5% 1%;
}

.book-author {
  /* background-color: yellow; */
  font-size: large;
  margin: 0 0 1% 0;
  padding: 0 0.5% 0.5% 1%;
}

.book-thumbnail {
  width: 70px;
  float: left;
  margin: 0.5% 2% 0.75% 0;
}

.book-thumbnail::after {
  float: none;
  clear: both;
}

.book-description {}

.book-buttons {
  float: right;
  text-align: right;
  width: 30%;
  margin: 1.5% 2% 0 0;
}

.btn {
  background-color: lightgrey;
  border: none;
  color: black;
  font-size: large;
  font-weight: bold;
  box-shadow: 3px 3px 1px black;
  padding: 1% 3%;
  margin: 1% 0 0 2%;
  display: inline-block;
  text-decoration: none;
}

.btn-delete {
  color: #e74944;
}

.list {
  background-color: lightgray;
  margin: 0 5%;
}

.list-ul {
  padding: 2%;
  list-style: none;
}

.list-li {
  background-color: lightblue;
  padding: 1% 2% 2% 2%;
  margin: 1% 1% 3% 1%;
  overflow: hidden;
}

.list-li:last-child {
  margin: 1%;
}